<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css" href="/static/css/main.css">

<!-- CDN links to popular libs -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

</head>

<body>
  <div id="myDIV" class="header">
    <h2>Simple To Do List</h2>
    <input type="text" id="taskInput" placeholder="Title...">
    <span onclick="createNewTask()" class="addBtn">New Task</span>
  </div>

  <ul id="myUL">
    {% for task in tasks %}
      <li id="{{task.task_id}}"> 
        <span class="close"> ✘ </span>
        <span class="updater"> ↺  </span>
        <span class="action"> {{task.action}} </span>
        <input class="updateAction" value="{{task.action}}"></input>
      </li>
    {% endfor %}
  </ul>
</body>

<script>

/*
 * Updates a <li> task when clicking on the "redo" button
 */

function updateTask (taskId, action) {
    $.ajax({
      url: '/taskop',
      method: 'POST',
      contentType: 'application/json; charset=utf-8',
      dataType: 'json',
      data: JSON.stringify({ op: "UPDATE", 
                             action: action, 
                             task_id: taskId})
    })
    .done(function (result) {
      console.log(result);
    })
}

/*
 * Deletes a <li> task when clicking on the "X" button
 */
function deleteTask (liTag) {
    var taskId = liTag.attr('id');
    $.ajax({
      url: '/taskop',
      method: 'POST',
      contentType: 'application/json; charset=utf-8',
      dataType: 'json',
      data: JSON.stringify({ op: "DELETE", 
                             action: "Some Action",
                             task_id: parseInt(taskId)})
    })
    .done(function (result) {
      liTag.remove();
    });
}

/*
 * Create a new <li> task when clicking on the "Add" button
 */
function createNewTask() {
  var inputValue = $("#taskInput").val();
  if (inputValue === '') {
      alert("You must write something!");
  } else {
    console.log('Creating new task', inputValue);

    $.ajax({
      url: '/taskop',
      method: 'POST',
      contentType: 'application/json; charset=utf-8',
      dataType: 'json',
      data: JSON.stringify({ op: "ADD", action: inputValue })
    })
    .done(function (result) {
      // XXX: Explain chaining
      var newTask = result.task;
      $('<li/>', {
        id: newTask.task_id,
      }).appendTo('#myUL')

      // Add the span
      $('<span/>', {
        text: "✘ ",
        "class": "close"
      })
      .appendTo('#' + newTask.task_id)
      .click(function() {
          var liTag = $(this).parent('li');
          deleteTask(liTag);
      });

      $('<span/>', {
        text: "↺ ",
        "class": "updater",
      })
      .appendTo('#' + newTask.task_id)
      .click(function() {
          console.log(this);
          var liTag = $(this).parent('li');
          var spanTag = $(this).siblings('.action');
          var inputTag = $(this).siblings('.updateAction');
          console.log(liTag);
          console.log(spanTag);
          console.log(inputTag);
          if (inputTag.is(':visible')) {
            var taskId = parseInt(liTag.attr('id'));
            var action = inputTag.val()
            updateTask(taskId, action);
            inputTag.hide();
            spanTag.text(action);
            spanTag.show();
            liTag.toggleClass('checked', false);
          } else {
            inputTag.css('display', 'inline');
            spanTag.hide();
            liTag.toggleClass('checked', false);
          }
        });

      $('<span/>', {
        text: newTask.action,
        "class": "action"
      })
      .appendTo('#' + newTask.task_id)

      $('<input/>', {
        value: newTask.action,
        "class": "updateAction"
      })
      .appendTo('#' + newTask.task_id)
      .hide()

      // Remove the input that you just entered
      $("#taskInput").val('');
    });

  }
}

$(document).ready(function () {

  // Every close button when clicked will delete itself from the list
  // and submit a call to the API to self-delete
  $('.close').each(function (i, el) {
    el.onclick = function() {
        var liTag = $(this).parent('li');
        deleteTask(liTag);
    };
  })

  $('.updater').each(function (i, el) {
    el.onclick = function() {
      console.log(this);
        var liTag = $(this).parent('li');
        var spanTag = $(this).siblings('.action');
        var inputTag = $(this).siblings('.updateAction');
        if (inputTag.is(':visible')) {
          var taskId = parseInt(liTag.attr('id'));
          var action = inputTag.val()
          updateTask(taskId, action);
          inputTag.hide();
          spanTag.text(action);
          spanTag.show();
          liTag.toggleClass('checked', true);
        } else {
          inputTag.css('display', 'inline');
          spanTag.hide();
          liTag.toggleClass('checked', false);
        }
    };
  })

  $('li').each(function (i, el) {
    el.onclick = function() {
      console.log(this);
      var inputTag = $(this).children('input');
      if (!inputTag.is(':visible')) {
        $(this).toggleClass('checked');
      }
    };
  });
});
</script>
</html>
